

html , body { 
    overflow-x: hidden;
    color: #333;
    background-color: #f5f5f5;
}
* { 
    padding: 0; 
     margin: 0;
}
ul ,ol { 
    list-style-type: none;
}
a { 
    text-decoration: none;
}
video { 
    width: 100%;
}
@font-face {
    font-family: "Bold";
    src: url(../fonts/SFUIText-Bold.otf);
}
@font-face {
    font-family: "Light";
    src: url(../fonts/SFUIText-Light.otf);
}
@font-face {
    font-family: "Regular";
    src: url(../fonts/SFUIText-Regular.otf);
}
@font-face {
    font-family: "Italic";
    src: url(../fonts/SFUIText-Italic.otf);
}
.blog { 
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 20px;
    border-right: 1px solid #c0c0c0;
}
.blog .flexed { 
    display: flex;
    justify-content: space-between;
    
}
.blog .flexed .row {
    flex-basis: 10%;
    z-index: 111;
}


.blog .row { 
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px 0;
    border-right: 1px solid #cbcbcb;
    position: fixed;
    background-color: #f5f5f5;
}
.blog .row .col { 
    flex-basis: 11.1%;
}
.blog .row .col .logo { 
    position: relative;
    padding: 0 0 20px 0;
}
.blog .row .col .logo img { 
    width: 150px;
}
.blog .row .col .flex { 
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 10px 0;
}
.blog .row .col .flex .left i { 
      font-size: 20px;
      color: #333;
      cursor: pointer;
}
.blog .row .col .flex .right h2 { 
    font-size: 15px;
    font-family: "Regular";
    font-weight: 400;
    color: #333;
    cursor: pointer;

}
.blog .posts { 
 position: relative;
 flex-basis: 75%;
 left: 20%;
}
.blog .posts .row-posts { 
    display: flex;
    position: relative;
    justify-content: space-between;
    column-gap: 10px;
    padding: 15px 0;
}
.blog .posts .row-posts .col { 
    flex-basis: 25%;
    position: relative;
}
.blog .posts .row-posts .col img { 
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.blog .posts .row-posts .col i { 
    position: absolute;
    right: 5%;
    top: 3%;
    font-size: 20px;
    color: #f3f3f3;
}
/*Searchbar */
.blog .searchbar { 
    position: fixed;
    left: 74px;
    height: 100%;
    border-top: 1px solid #dbdbdb;
    padding: 0 100px;
    border-top-right-radius: 6px;
    border-right: 1px solid #dbdbdb;
    border-bottom-right-radius: 6px;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
    box-shadow: 0 5px 25px rgb(181, 181, 181);
  animation: left .3s ease-in;
  z-index: 11111111;
}
.blog .searchbar .title { 
    text-align: start;
    padding: 20px 0 20px 0;
}
.blog .searchbar .title h2 { 
    font-size: 25px;
    color: #333;
    font-family: "Oswald";
    font-weight: 100;
}
.blog .searchbar .search-input { 
    position: relative;
}
.blog .searchbar .search-input input { 
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    background: #e3e3e3;
    color: #333;
}
.blog .searchbar .search-input i { 
    position: absolute;
    right: -20px;
    bottom: 10px;
    font-size: 15px;
    color: #333;
    cursor: pointer;
}
.blog .searchbar .flex-search { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    padding: 8px 0;
    overflow-y:visible;
}
.blog .searchbar .flex-search .left-search { 
    position: relative;
    cursor: pointer;
}
.blog .searchbar .flex-search .left-search img { 
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border:2px solid #c37979;
}
.blog .searchbar .flex-search .right-search { 
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
} 
.blog .searchbar .flex-search .right-search h1 { 
font-size: 17px;
color: #333;
font-family: "Regular";
font-weight: 300;
} 
.blog .searchbar .flex-search .right-search h2 { 
    font-size: 14px;
    color: #333;
    font-family: "Light";
    font-weight: 100;
}

.blog .searchbar .end { 
    position: relative;
    cursor: pointer;
    font-size: 15px;
    color: #333;
}




.blog .posts .row-posts .col img:hover { 
    filter: brightness(50%);
    transition: 0.3s linear;
}

header { 
    padding:0  50px; 
    background-color: #f5f5f5;
    width: 100%;
    position: unset;
}
header .row { 
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
header .row .logo { 
    position: relative;
}
header .row .logo img { 
    width: 200px;
}

.sidebar {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    left: -100%;
    z-index: 1;
}

.sidebar ul {
    list-style-type: none;
}
label #btn { 
    color: #333;
}

.sidebar ul li a {
    text-align: center;
    font-size: 25px;
    color: #333;
}

.sidebar ul li ul li a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 25px;
    color: #c9c9c9;
    padding: 0 0 0 40px;
    transition: .5s all linear;
    position: relative;
  
    left: calc(1% - 25px);
    top: 50px;
}
.sidebar ul li ul li .flex { 
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    color: #333;
    padding: 5px 30px;
    position: relative;
    top: 50px;
    cursor: pointer;
}
.sidebar ul li ul li .flex .left { 
    position: relative;
}
.sidebar ul li ul li .flex .left .online { 
    position: absolute;
    top: 50%;
    left: 75%;
}
.sidebar ul li ul li .flex .left .online i { 
    font-size: 17px;
    color: #36f055;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 100%;
}
.sidebar ul li ul li .flex .left img { 
width: 50px;
    border: 1px solid;
    border-radius: 100%;    
    height: 50px;

}
.sidebar ul li ul li .flex .right {     
    position: relative;
    flex-basis: 95%;
}
.sidebar ul li ul li .flex .right h4 { 
    font-size: 13px;
    font-family: "Regular";
    color: #000;
}
.sidebar ul li ul li .flex .right h3 { 
    font-size: 15px;
    font-family: "Bold";
    color: #666565;
}
.sidebar ul li ul li .flex .end { 
    position: relative;
    padding: 30px 0;
    flex-basis: 10%;
}
.sidebar ul li ul li .flex .end i { 
    font-size: 20px;
    color: #939393;
}

.sidebar ul li ul li:hover a {
    color: #333;
}

#check {
    display: none;
    position: relative;
}
.msg-recieved { 
    position: relative;
    top: 20px;

}
.msg-recieved i { 
    font-size: 20px;
    color: rgb(252, 84, 84);
    position: absolute;
    left: 20px;
    top: -10px;
}

label #btn {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border-radius: 6px;
    left: 95%;
    top: 3%;
    font-size: 17px;
    padding: 6px 12px;
}

label #cancel {
    position: fixed;
  z-index: 111111;
    left: -80%;
    top: 1%;
    font-size: 25px;
    padding: 6px 12px;
    color: #888888;
    cursor: pointer;
}

#check:checked~.sidebar {
    left: 0;
    bottom: 0;
    transition: 0.4s ease-in;
}

#check:checked~label #btn {
    opacity: 1;
    pointer-events: none;
 
}

#check:checked~label #cancel {
    left: -1%;
 
}
.mobile-ver { 
    padding: 20px 20px;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 100px;
    text-align: center;
}
.mobile-ver .container { 
    position: relative;
}
.mobile-ver .row { 
    display: flex;
    justify-content: space-between;
}
.mobile-ver .row .col { 
    flex-basis: 16.6%;
}
.mobile-ver .row .col .top-story { 

 position: relative;
}
.mobile-ver .row .col .top-story img { 
    width: 100px;
    height: 100px;
    border: 2px solid #36f055;
    border-radius: 100%;
}
.mobile-ver  .row-post { 
    flex-direction: column;
    margin: 30px 0;
    padding: 20px 0;
    
}
.mobile-ver  .row-post .myProfile { 
    display: flex;
    column-gap: 5px;
    align-items: center;
    padding: 10px 0;
    position: relative;
}
.mobile-ver  .row-post .myProfile .left-profile { 
    position: relative;
    padding: 0 0 0 20px;
}
.mobile-ver  .row-post .myProfile .left-profile a img { 
    width: 50px;
    border-radius: 100%;
    border: 1px solid #f333d9;
    cursor: pointer;
}
.mobile-ver  .row-post .myProfile .right-profile { 
    position: relative;
}
.mobile-ver  .row-post .myProfile .right-profile h3 { 
    font-size: 15px;
    color: #333;
    font-family: "Regular";
    font-weight: 200;
    cursor: pointer;
}
.mobile-ver  .row-post .myProfile  .end-profile { 
    position: absolute;
    left: 95%;
}
.mobile-ver  .row-post .myProfile .end-profile .floated-right { 
    color: #333;
    font-size: 5px;
    font-family: "Regular";
    float: right;
    font-weight: 100;
    cursor: pointer;
}
.mobile-ver  .row-post .actualPost { 
    position: relative;
}
.mobile-ver .row-post .actualPost img { 
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}
.mobile-ver  .row-post .options { 
    position: relative;
    padding: 10px 20px;
}
.mobile-ver  .row-post .options .options-row { 
    display: flex;
    column-gap: 50px;
    padding: 5px 0;
}
.mobile-ver  .row-post .options .options-row .options-right { 
  
    position: absolute;
    left: 95%;
}
.mobile-ver  .row-post .options .options-row i { 
    font-size: 17px;
    color: rgb(156, 156, 156);
    cursor: pointer;
}
.mobile-ver  .row-post .options .options-row i:hover { 
    filter: brightness(50%);
    box-shadow: 0 5px 25px rgb(224, 224, 224);
    border-radius: 100%;
    background-color: rgb(221, 220, 220);
    outline: none;
    
}
.mobile-ver  .row-post .informations-about-post { 
    padding: 10px 0;
    position: relative;
}
.mobile-ver  .row-post .informations-about-post .about-row { 
      display: flex;
      flex-direction: column;
      text-align: start;
}
.mobile-ver  .row-post .informations-about-post .about-row .col-comments { 
    padding: 10px 20px;
    position: relative;
}

.mobile-ver  .row-post .informations-about-post .about-row .col-comments h3 { 
    
      font-size: 20px;
      color: #333;
      font-family: "Bold";
      font-weight: 1000;
}
.mobile-ver  .row-post .informations-about-post .about-row .col-comments .title-post { 
    font-size: 15px;
    font-family: "Regular";
    color: #333;
    font-weight: 300;    

}
.mobile-ver  .row-post .informations-about-post .about-row .col-comments h4 { 
    font-size: 15px;
    font-family: "Regular";
    font-weight: 100;
    color: #c0c0c0;
    cursor: pointer;
}
.mobile-ver  .row-post .informations-about-post .about-row .col-comments h5 { 
    font-size: 13px;
    font-family: "Regular";
    font-weight: 100;
    color: #c0c0c0;
    cursor: pointer;
}
.mobile-ver  .row-post .informations-about-post .about-row .col-comments .translation { 
    font-size: 15px;
    font-family: "Bold";
    color: #333;
    padding: 0 0 0 10px;
    cursor: pointer;
}
.mobile-ver  .row-post .informations-about-post .about-row .col-comments:last-child { 
    display: flex;
    column-gap: 10px;
    padding: 10px 20px;
    align-items: center;
}
.mobile-ver  .row-post .informations-about-post .about-row .col-comments:last-child .comment-left { 
    position: relative;
}
.mobile-ver  .row-post .informations-about-post .about-row .col-comments:last-child .comment-right { 
    position: relative;
    flex-basis: 75%;
}
.mobile-ver  .row-post .informations-about-post .about-row .col-comments:last-child .comment-right input { 
    width: 100%;
    outline: none;
    border: 1px solid #dbdbdb;
    padding: 10px 12px;
    font-family: "Regular";
    font-weight: 300;
    font-size: 15px;
    color: #333;
}
.mobile-ver  .row-post .informations-about-post .about-row .col-comments:last-child .comment-right input::placeholder { 
    font-size: 13px;
    font-family: "Regular";
    font-weight: 100;
    color: #c0c0c0;
}
.mobile-ver  .row-post .informations-about-post .about-row .col-comments:last-child .comment-end { 
    position: absolute;
    left: 85%;
}
.mobile-ver .row-post .informations-about-post .about-row .col-comments:last-child .comment-end .post-span { 
    color:#0a99d1;
    font-size: 17px;
    font-family: "Bold";
    font-weight: 300;
    cursor: pointer;
}
.mobile-ver .load-more { 
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
}
.mobile-ver .load-more .content { 
    text-align: center;
}
.mobile-ver .load-more .content h3 { 
    font-size: 16px;
    font-family: "Regular";
    font-weight: 200;
    color: #b3b0b0;
    cursor: pointer;
}

.mobile-ver { 
    display: none;
}
header { 
    display: none;
}

.bottom-header { 
    display: none ;
   
}
.bottom-header .row-bot { 
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.bottom-header .row-bot .col { 
    flex-basis: 25%;
}
.bottom-header .row-bot .col .icon { 
    position: relative;
}
.bottom-header .row-bot .col .icon  a i { 
    font-size: 16px;
    color: #333;
}
#grey-icon { 
    color: rgb(155, 152, 152);
}

/*End of the HTML - CSS code */ 
