html , body  { 
    overflow-x: hidden;
    color: #333;
}
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Oswald";
    src: url(../fonts/SFUIText-Regular.otf);
    font-weight: 100;
}
@font-face {
    font-family: "Bold";
    src: url(../fonts/SFUIText-Bold.otf);
}
@font-face {
    font-family: "Light";
    src: url(../fonts/SFUIText-Light.otf);
}
@font-face {
    font-family: "Regular";
    src: url(../fonts/SFUIText-Regular.otf);
}
@font-face {
    font-family: "Italic";
    src: url(../fonts/SFUIText-Italic.otf);
}
a { 
    text-decoration: none;
}
ul , ol { 
    list-style-type: none;
}
span { 
    font-size: 14px;
    color: rgba(24,24,24);
    font-family: "Regular";
    cursor: pointer;
    font-weight: 300;
}
header { 
    display: flex;
    padding: 20px 100px;
    background-color: #f5f5f5;
    align-items: center;
    border-bottom: 1px solid #c9c8c8;
    justify-content: space-around;
}
header .logo { 
    position: relative;
}
header .logo img { 
    width: 150px;
}
.blog { 
    padding: 200px 450px;
    background-color: #fff;
}
.blog .center { 
    background-color: #e9e9e9;
    border: 1px solid #c9c8c8;
    text-align: center;
    padding: 20px;
    margin: 0 20px;

}
.blog .center h1 { 
    font-size: 20px;
    color: rgba(24,24,24);
    font-family: "Regular";
    font-weight: 300;
    padding: 10px 0;
}
.blog .center h3 { 
    font-size: 15px;
    color: rgba(24,24,24);
    font-family: "Regular";
    font-weight: 100;
    padding: 10px 0;
}
.blog .center .btn { 
    padding: 10px 0;
    text-align: center;
}
.blog .center .btn a .changed { 
    font-size: 15px;
    color: rgba(0, 149, 246);
    font-family: "Regular";
    font-weight: 100;
}
@media only screen and (max-width:700px) { 
    html , body { 
        overflow-x: hidden;
    }
    * { 
        padding: 0;
        margin: 0;
    }
    ::-webkit-scrollbar { 
        display: none;
    }
    header { 
        padding: 20px;
    }
    .blog { 
        padding: 150px 20px;
    }
}
@media only screen and (min-width:701px) and (max-width:1240px) { 
    html , body { 
        overflow-x: hidden;
    }
    * { 
        padding: 0;
        margin: 0;
    }
    ::-webkit-scrollbar { 
        display: none;
    }
    header { 
        padding: 50px;
    }
    .blog { 
        padding: 150px 250px;
    }
}
@media only screen and (min-width:1241px) { 
    html , body { 
        overflow-x: hidden;
    }
    * {
        padding: 0;
        margin: 0;
    }

}